{% include "common/header.html" %}

<body>
    {% include "common/banner.html" %}

    {% if error %}
        <div class="alert alert-warning">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-12">

        <form class="form-horizontal" method="POST">  
        <div class="form-group">
            <label class="control-label" for="led">LED:</label><br>

            <input type="text" id="led" name="led">
            <div class="btn-group">
                <input name="led_submit" class="btn btn-primary" value="Entrer" type="submit">
            </div>
        </div>
        </form>

        <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="control-label" for="stat">Statistiques:</label><br>

            <input type="text" id="stat" name="stat"></textarea>
            <div class="btn-group">
                <input name="stat_submit" class="btn btn-primary" value="Entrer" type="submit">
            </div>
        </div>
        </form>
    </div>

    </div>
    </div>
    </div>
</body>
</html>
