{% include "common/header.html" %}

<body>
    {% include "common/banner.html" %}

    {% if error %}
        <div class="alert alert-warning">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-4">
        <h3> Create a new file</h3>
        <form class="form-horizontal" method="POST">
            
        <div class="form-group">
            <label class="control-label col-sm-2" for="fn">File name:</label>
            <div class="col-xs-12 col-md-8">
                <input type="text" id="fn" name="file_name" placeholder="Enter file name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="fc">File content:</label>
            <div class="col-xs-12 col-md-8">
                <textarea id="fc" name="file_content" placeholder="Enter file content"></textarea>
            </div>
        </div>

        <div class="btn-group">
            <input name="create_file_submit" class="btn btn-lg btn-primary" value="Create file" type="submit">
        </div>

        </form>
    </div>

    <div class="col-xs-12 col-md-4">
        <h3>Upload file</h3>
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">

        <div class="btn-group">
            <label class="btn btn-lg btn-default" for="uf">
                <input id="uf" name="file" type="file" style="display:none"
                onchange="$('#uf_file_name').html((this.files[0].name.length > 24) ? this.files[0].name.substring(0, 20) + '...' + this.files[0].name.split('.').pop() : this.files[0].name)">
                Choose file
            </label>
            <input name="upload_file_submit" class="btn btn-lg btn-primary" value="Upload file" type="submit">
        </div>

        <br><h4><span class='label label-default' id="uf_file_name"></span></h4>

        </form>
    </div>
    
    <div class="col-xs-12 col-md-4">
        <h3>Existing files:</h3>
        <div type="btn-toolbar">
        {% for file in files %}
            {% if file.type == "img" %}
                <a href="/files/{{file.name}}" class="btn btn-lg btn-warning">{{ file.name }}</a>
            {% elif file.type == "music" %}
                <a href="/files/{{file.name}}" class="btn btn-lg btn-success">{{ file.name }}</a>
            {% elif file.type == "video" %}  
                <a href="/files/{{file.name}}" class="btn btn-lg btn-danger">{{ file.name }}</a>
            {% else %}
                <a href="/files/{{file.name}}" class="btn btn-lg btn-info">{{ file.name }}</a>
            {% endif %}
        {% endfor %}
        </div>

    </div>
    </div>
    </div>
</body>
</html>
