{% include "common/header.html" %}

<body>
    {% include "common/banner.html" %}

    {% if error %}
        <div class="alert alert-warning">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}

    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-12">

        <form class="form-horizontal" method="POST">  
        <div class="form-group">
            <label class="control-label" for="led">LED:</label><br>
            <div class="col-xs-2 col-md-2">
                <input type="radio" name="led_rb" id="led_on" value="led_on"> 1 </input>
                <input type="radio" name="led_rb" id="led_off" value="led_off"> 0 </input>
                <!-- <input type="text" id="led" name="led"> -->
            </div>
            <div class="col-xs-10 col-md-10">
                <div class="btn-group">
                    <input name="led_submit" class="btn btn-primary" value="Submit" type="submit">
                </div>
            </div>
        </div>
        </form>

        <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="control-label" for="stat">Statistics:</label><br>
            <div class="col-xs-2 col-md-2">
                <input type="text" id="stat" name="stat"></textarea>
            </div>
            <div class="col-xs-10 col-md-10">
                <div class="btn-group">
                    <input name="stat_submit" class="btn btn-primary" value="Submit" type="submit">
                </div>
            </div>
        </div>
        </form>
    </div>

    </div>
    </div>
    </div>
</body>
</html>
